.skillCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.skillCard:hover {
  transform: translateY(-5px);
  box-shadow: var(--mantine-shadow-md);
}

.skillIcon {
  color: white;
}