/* Common section styles */
.section {
  padding: var(--space-xl) 0;
  scroll-margin-top: 80px;
  position: relative;
}

/* Apply alternating background colors based on even/odd */
.sectionEven {
  background-color: var(--bg-secondary);
}

.sectionOdd {
  background-color: var(--bg-primary);
}

/* Section title */
.sectionTitle {
  margin-bottom: var(--space-xl) !important;;
  position: relative;
  text-align: center;
  color: var(--text-primary);
}

.sectionTitle::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 60px;
  height: 3px;
  background-color: var(--mantine-color-brand-filled);
  transform: translateX(-50%);
}

/* Media queries for responsive adjustments */
@media (max-width: 576px) {
  .section {
    padding: var(--space-lg) 0;
  }
  
  .sectionTitle {
    margin-bottom: var(--space-lg) !important;
  }
}

/* Animations */
.fadeIn {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}