.footer {
    border-top: 1px solid var(--mantine-color-gray-2);
    width: 100%;
    padding: 0 5px;
}

.footerText {
    font-weight: lighter;
    font-size: 10px;
    color: "dimmed";
    text-align: end;
}

.footerText > a{
    color: var(--primary);
}
  
/* For responsive design */
@media (max-width: 768px) {
    .footer {
        visibility: hidden;
    }
}